

/*Fonts*/
@font-face {
    font-family: 'ringbearermedium';
    src: url('../css/fonts/lotrFont/ringbearer.medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
/*Constant Background*/
.background {
    background:
            url("http://img1.joyreactor.com/pics/post/full/pixel-art-sword-sandbox-gif-3054657.gif") no-repeat center center fixed;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
}

.backgroundTwo {
    background:
            url("https://i.imgur.com/yTKX7op.gif") no-repeat center center fixed;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
}

.backgroundThree {
    background:
            url("http://i.imgur.com/vU3JTB6.gif") no-repeat center center fixed;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
}

.backgroundVictory {
    background:
            url("http://i0.kym-cdn.com/photos/images/newsfeed/001/315/787/15c.gif") no-repeat center center fixed;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
}

.backgroundLoss {
    background:
            url("https://i.pinimg.com/originals/16/74/db/1674dbae45cd38f3d3b4c00dc8616bd7.gif") no-repeat center center fixed;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
}

/* login styling*/
.container.landing {
    text-align: center;
    padding-top: 10%;
    font-family: 'Press Start 2P', cursive;
}
/*title styling*/
.superTitle {
    text-align: center;
    font-size: 60px;
    color: goldenrod;
    padding-top: 10%;
    font-family: 'Press Start 2P', cursive;
    text-shadow: #FC0 1px 0 10px;
}
.lessSuperTitle {
    text-align: center;
    font-size: 30px;
    color: goldenrod;
    font-family: 'Press Start 2P', cursive;
}

/*text styling*/
.gameText {
    font-family: 'Press Start 2P', cursive;
    color: gold;
    text-shadow: #FC0 1px 0 10px;
    font-size: 12px;
    text-align: center;
    width: 600px;
    height: auto;
    margin: 0 auto;
}

.hrefText {
    font-family: 'Press Start 2P', cursive;
    color: gold;
    text-shadow: #FC0 1px 0 10px;
    font-size: 20px;
    text-align: center;
    width: 200px;
    height: auto;
    margin: 0 auto;
    list-style-type: none;
}

.selectDifficulty {
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    text-align: center;
    background-color: hsla(50, 33%, 25%, .75);
    margin: 0 auto;
    width: 300px;
    text-shadow: #FC0 1px 0 10px;
    border: black solid 1px;
    border-radius: 25px;
}

#signin {
    font-family: 'Press Start 2P', cursive;
    font-size: 15px;
    text-align: center;
    background-color: hsla(50, 33%, 25%, .75);
    width: 225px;
    margin: 0 auto;
}

.loginPage {
    font-family: 'Press Start 2P', cursive;
    font-size: 15px;
    text-align: center;
    width: 225px;
    margin: 0 auto;
}


.profile {
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    text-align: center;
    background-color: hsla(50, 33%, 25%, .75);
    width: 400px;
    margin: 0 auto;
    list-style-type: none;
    text-shadow: #FC0 1px 0 10px;
    border: black solid 1px;
    border-radius: 25px;
}

.buttons {
    margin-top: 200px;
    width: 100px;
    height: 20px;
}


/*character styling*/
.character {
    height: 250px;
    width: 200px;
    color: gold;
    border: black solid 1px;
    border-radius: 25px;
    background:
        url("https://orig00.deviantart.net/84ac/f/2016/077/6/2/dark_souls_3___red_knight_by_zedotagger-d9vknnd.gif") no-repeat;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    background-color: hsla(50, 33%, 25%, .75);
    text-align: left;
    list-style-type: none;
}

.characterBattle {
    height: 400px;
    width: 400px;
    color: gold;
    border: black solid 1px;
    border-radius: 25px;
    background:
            url("https://orig00.deviantart.net/84ac/f/2016/077/6/2/dark_souls_3___red_knight_by_zedotagger-d9vknnd.gif") no-repeat;
    background-size: 400px;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    background-color: hsla(50, 33%, 25%, .75);
    list-style-type: none;
}

.enemy {
    height: 400px;
    width: 400px;
    color: crimson;
    border: black solid 1px;
    border-radius: 25px;
    background:
            url("https://78.media.tumblr.com/tumblr_lknef5fxc81qf91leo1_500.gif") no-repeat;
    background-size: 400px;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    background-color: hsla(50, 33%, 25%, .75);
    list-style-type: none;
}

.enemyTwo {
    height: 400px;
    width: 400px;
    color: crimson;
    border: black solid 1px;
    border-radius: 25px;
    background:
            url("https://orig00.deviantart.net/fc49/f/2017/164/1/0/the_pursuer_by_daghosttoast-dbcl73g.gif") no-repeat;
    background-size: 400px;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    background-color: hsla(50, 33%, 25%, .75);
    list-style-type: none;
}
.enemyThree {
    height: 400px;
    width: 400px;
    color: crimson;
    border: black solid 1px;
    border-radius: 25px;
    background:
            url("https://orig00.deviantart.net/589d/f/2015/234/d/5/dark_souls___gravelord_nito_by_zedotagger-d96sgi8.gif") no-repeat;
    background-size: 400px;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    background-color: hsla(50, 33%, 25%, .75);
    list-style-type: none;
}

/*GRID LAYOUTS*/
.gridLayoutOne {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 300px 300px;
}

.gridLayoutTwo {
    display: grid;
    padding-left: 9%;
    grid-template-columns: 442px 150px 500px;
    grid-template-rows: 500px;
}

.battleButton{
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    text-shadow: #FC0 1px 0 10px;
    margin-top: 150px;
    width: 150px;
    height: 150px;
    border: black solid 1px;
    border-radius: 25px;
    background: hsla(50, 33%, 25%, .75) url("https://vignette.wikia.nocookie.net/street-fighter-sprites/images/2/26/SFA2-VS-Screen.gif/revision/latest?cb=20160804140908") no-repeat;
    background-position: center;
}

.battleText {
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
    color: gold;
    text-shadow: #FC0 1px 0 10px;
    text-align: center;
    width: 600px;
    height: auto;
    margin: 0 auto;
    border: black solid 1px;
    border-radius: 25px;
    background-color: hsla(50, 33%, 25%, .75);

}