doctype html
html
  head
    title Chapter One Continued
    ul.character
      li The Dunedain
      li= `Vigor:${characterData.vigor}`
      li= `Fight:${characterData.fight}`
      li= `Armor:${characterData.armor}`

    h1 You faced your foe and smote his ruin upon the earth!