doctype html
html
  head
    title victory
    include stylesheet
  body.backgroundVictory
    ul.character
      li The Ashen One
      li= `WR:${characterData.vigor}`
      li= `FS:${characterData.fight}`
      li= `AV:${characterData.armor}`

    h1.superTitle Victory Achieved

    form.hrefText(name="generateEnemies" method="POST" action="/generateThirdEnemy")
      input(type="hidden" name="vigor"  value="5" readonly)
      input(type="hidden" name="fight" value="5" readonly)
      input(type="hidden" name="armor" value="5" readonly)
      button.edit-submit(type="submit") Continue