doctype html
html
  head
    title Skirmish
    ul.character
      li The Dunedain
      li= `Vigor:${characterData.vigor}`
      li= `Fight:${characterData.fight}`
      li= `Armor:${characterData.armor}`