doctype html
html
  head
    title Chapter Three
    include stylesheet
    body.backgroundThree
    div.gridLayoutOne
      ul.character
        li The Ashen One
        li= `WR:${characterData.vigor}`
        li= `FS:${characterData.fight}`
        li= `AV:${characterData.armor}`
      p.gameText
        | You are exhausted by your battle with the Pursuer, but you know you must press on. You make your way out of the
        |room and to your chagrin, you see more stairs. You climb and climb until finally you see the exit. With a new found
        |energy, you sprint toward the end of the tunnel. As you emerge, you feel a cold wind. To your amazement, you are
        |standing on the outskirts of city.
    div.hrefText
      a(href="/chapterThreeA") Continue..