doctype html
html
  head
    title Chapter One Continued
    include stylesheet
    body.background
    div.gridLayoutOne
      ul.character
        li The Ashen One
        li= `WR:${characterData.vigor}`
        li= `FS:${characterData.fight}`
        li= `AV:${characterData.armor}`
      p.gameText
        |Now that you have equipped yourself thoroughly, you decide to make your way cautiously through the ashen graveyard.
        | Thus far you have been fortunate enough not to come across any more hollows, but you do not let your guard down. After
        | what feels like hours, you are finally able to see the end of this barren landscape. At the end of a steep path you
        | see an archway followed by an opening. You scope the area and when you see nothing that could be a potential threat, you
        | begin to sprint toward the archway. Minutes later, you arrive and stop to catch your breath. You look behind you to make
        | sure that nothing is sneaking up on you. You see nothing. Looking through the archway, you notice an unlit bonfire
        | with a scorched sword protruding out of it. You don't know why but you are drawn to it, and before you know it you
        | are walking forward into the archway. Immediately after stepping through the archway, a fog gate appears behind you,
        | blocking your escape. You try to push through the gate, but are unable to step into the fog. Then, you hear a hissing
        | sound coming from behind you. Despite your fear, you quickly draw your weapon and turn to face the source of the noise...
    div.hrefText
      a(href="/chapterOneBattle") Engage!