doctype html
html
  head
    title Chapter Two
    include stylesheet
    body.backgroundTwo
    div.gridLayoutOne
      ul.character
        li The Ashen One
        li= `WR:${characterData.vigor}`
        li= `FS:${characterData.fight}`
        li= `AV:${characterData.armor}`
      p.gameText
        | After slaying the serpent creature the fog gate lifts from behind you. For a moment, you consider
        |heading back into the cemetery. At least there your greatest threat was running into a witless hollow.
        |Despite your reservations for what might lay ahead, you decide to push forward. You notice a doorway at the
        |other end of the arena and begin heading toward it. You look through the doorway and see a stairway, though it
        |is too dark to see where it leads. Seeing no other way to press on, you begin to make your way down into
        |the darkness.
    div.hrefText
      a(href="/chapterTwoA") Continue..