doctype html
html
  head
    title Chapter Three Continued
    include stylesheet
    body.backgroundThree
    div.gridLayoutOne
      ul.character
        li The Ashen One
        li= `WR:${characterData.vigor}`
        li= `FS:${characterData.fight}`
        li= `AV:${characterData.armor}`
      p.gameText
        | Looking upon the dark but beautiful cityscape, you finally allow yourself to feel hope. Only a few minutes walk
        |and you will have made it to safety--to civilization. Unfortunately for you, this is a text adventure, so obviously
        |there is going to be a final conflict. That is when you hear it. A low rumbling coming from the tunnel. Out from
        |the darkness appears a giant, horrid creature!
  div.hrefText
    a(href="/chapterThreeBattle") Engage!