doctype html
html
  head
    title Shadows Wake
  body
  block content
    div.container.landing
      button#showLogin login
      button#showRegister register

    script
      include ../client/client.js