doctype html
html
  head
    title Shadow's Wake
  include stylesheet
  body.background
  h1.superTitle Shadows Wake
  block content
    div.container.landing
      button#showLogin login
      button#showRegister register

    script
      include ../client/client.js