doctype html
html
  head
    include stylesheet
    body.background
    title Prologue
    p.gameText
      |Yes, indeed. It is called Lothric, where the transitory lands of the
      |Lords of Cinder converge.In venturing north, the pilgrims discovered the truth of the old words:
      |"The fire fades and the lords go without thrones."
      |When the link of the fire is threatened, the bell tolls, unearthing the old Lords of Cinders from their graves...
      |Aldrich, Saint of the Deep...
      |Farron's Undead Legion, the Abyss Watchers...
      |And the reclusive lord of the Profaned Captial, Yhorm the Giant...
      |Only, in truth... the Lords will abandon their thrones...
      |And the Unkindled will rise.
      |Nameless, accursed Undead, unfit even to be cinder. And so it is, that ash seeketh embers.
  div.formText
    form.selectDifficulty(name="selectDifficultyEasy" method="POST" action="/newGame")
      h3 Easy
        br
        label WR
          input(type="text" name="vigor"  value="6" readonly)
          br
        label FS
          input(type="text" name="fight" value="6" readonly)
          br
        label AV
          input(type="text" name="armor" value="6" readonly)
          br
        button.edit-submit(type="submit") Select
    form.selectDifficulty(name="selectDifficultyMedium" method="POST" action="/newGame")
      h3 Medium
        br
        label WR
        input(type="text" name="vigor"  value="6" readonly)
        br
        label FS
        input(type="text" name="fight" value="4" readonly)
        br
        label AV
        input(type="text" name="armor" value="5" readonly)
        br
        button.edit-submit(type="submit") Select
    form.selectDifficulty(name="selectDifficultyHard" method="POST" action="/newGame")
      h3 Hard
        br
        label WS
        input(type="text" name="vigor"  value="5" readonly)
        br
        label FS
        input(type="text" name="fight" value="3" readonly)
        br
        label AR
        input(type="text" name="armor" value="4" readonly)
        br
        button.edit-submit(type="submit") Select
    form.firstEnemyGenerator(name="generateEnemies" method="POST" action="/generateOrcSkirmisher")
      input(type="hidden" name="vigor"  value="8" readonly)
      input(type="hidden" name="fight" value="2" readonly)
      input(type="hidden" name="armor" value="2" readonly)
      button.edit-submit(type="submit") New Game